
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}
:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(74, 65, 10, 0.87);
  background-color: #c29541;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 10rem;
  border: 1px solid transparent white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /**background-color: #1a1a1a;*/
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #000000;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #000000;
  }
  a:hover {
    color: #000000;
  }
  button {
    background-color: #030303;
  }
}
@keyframes float {
  0% {
    transform: translateY(0px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
  }
  50% {
    transform: translateY(-20px);
    box-shadow: 0 30px 40px rgba(255, 255, 255, 0.2);
  }
  100% {
    transform: translateY(0px);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
  transition: box-shadow 0.3s ease-in-out;
}
.outlined-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  -webkit-text-stroke: 2px rgb(200, 193, 158);
  color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 9rem;
  line-height: 1;
  pointer-events: none;
  margin-left: 1rem;
}
/* @media (max-width: 320px) {
  .profile-image {
    width: 9rem !important;
    height: 9rem !important;
  }
}
@media (max-width: 768px) {
  .profile-image {
    width: 10rem !important;
    height: 10rem !important;
  }
}
@media (max-width: 640px) {
  .profile-image {
    width: 8rem !important;
    height: 8rem !important;
  }
} */

/* Small phones (≤ 640px) */
@media (max-width: 640px) {
  .outlined-text {
    font-size: 5rem;
  }
}

/* Tablets (641px - 768px) */
@media (min-width: 641px) and (max-width: 768px) {
  .outlined-text {
    font-size:7rem;
  }
}

